<!--
  Generated template for the PostSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>查询帖子</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="viewCtrl.dismiss()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>类型</ion-label>
      <ion-select [(ngModel)]="TypeTag" okText="确定" cancelText="取消">
        <ion-option *ngFor="let tt of TypeTags" [value]="tt">{{tt.Name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>专业</ion-label>
      <ion-select [(ngModel)]="ZYTag" okText="确定" cancelText="取消">
        <ion-option *ngFor="let zt of ZYTags" [value]="zt">{{zt.Name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>地区</ion-label>
      <ion-select [(ngModel)]="Region" okText="确定" cancelText="取消">
        <ion-option *ngFor="let r of Regions" [value]="r">{{r.Name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>查找内容</ion-label>
      <ion-input [(ngModel)]="SearchPattern"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full round (click)="DoSearch()">查询</button>
</ion-content>